td{
    border: none;
    background-color: salmon;
    width: 10%;
    color: rgb(0, 0, 0);
}
tr>th{
    text-align: center;
    background-color: seagreen;
    color: rgb(228, 224, 224);
}
.t1{
    border-collapse: collapse;
}
.t1 tr{
    border-top: 1px solid white;
}
.t1 tr td{
    border-left: 1px solid white;
}
input[type="number"]:focus{
    width: 20%;
    background-color: whitesmoke;
}
input[type="email"]:focus{
    width: 20%;
    background-color: whitesmoke;
}
input[type="text"]:focus{
    width: 20%;
    background-color: whitesmoke;
}