td{
    border: none;
    background-color: salmon;
    width: 10%;
    color: rgb(0, 0, 0);
}
tr>th{
    text-align: center;
    background-color: seagreen;
    color: rgb(228, 224, 224);
}
.t1{
    border-collapse: collapse;
}
.t1 tr{
    border-top: 1px solid white;
}
.t1 tr td{
    border-left: 1px solid white;
}
input[type="number"]:focus{
    width: 20%;
    background-color: whitesmoke;
}
input[type="email"]:focus{
    width: 20%;
    background-color: whitesmoke;
}
input[type="text"]:focus{
    width: 20%;
    background-color: whitesmoke;
}
header nav li{
    list-style-type: none;
    float: left;
    padding: 10px;
    background-color: aquamarine;
    border-left: 2px solid #8de4c8;
}
header nav li:first-child{
    border-left: none;
}
header nav li:hover a{
    color: cadetblue;
}
header nav a{
    text-decoration: none;
    color: black;
}
header ul{
    float: right;
}
body{
    width: 80%;
    margin: auto;
}